.topListWrapper {
  display: flex;
}
.topList {
  width: 33%;
}
.topList > ul {
  padding-left: 0;
}

@media only screen and (max-width : 900px)  {
  .topListWrapper {
    display: block;
  }
  .topList {
    width: 100%;
  }
}
.noSegmentsFound {
  color: #888;
  font-style: italic;
}
