.mapWrapper {
  width: 100%;
  height: 500px;
}

.search {
  display: flex;
  margin: 0 0 10px;
}

.searchBoxWrapper {
  width: 100%;
}

.findMe {
  width: 75px;
  height: 51px;
}

.findMe button {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 0;
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .mapWrapper {
    height: 400px;
  }
}
